.bg-image   {
    background-image: url(images/header-img.jpg);
    height: 320px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.abouttext {
    margin: 350px;
    margin-top: 30px;
    margin-bottom: 100px;
}