*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.bg-image{
    background-image: url(images/header-img.jpg);
    height: 420px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.text-heading{
    text-align: center;
    padding: 30px ;
    padding-top: 10%;
    width: 500px;
    color: #111;
    background: transparent;
    background-color: rgb(255,255,255,.2);
    
}
.img-heading{
    width: 300px;
}

.featured-img {
    height: 250px;
    width: 120px;
}

 /* testimonials carousel */

 #testimonials {
     text-align: center;
     background-color: rgb(235, 54, 54);
     color: rgb(52, 52, 228);


 }
 .testimonial-text {
     font-size: 2rem;
     line-height: 1.5;
 }
 .testimonial-image {
     width: 10%;
     padding-top: 3%;
     paddding-bottom:3%;
 }

